body {
	margin: 0 !important;
}

.main-container {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.grid {
  background: #d1d1d1;
  border: 1px solid black;
  width: 800px;
  height: 800px;
}

.node {
	float: left;
	height: calc(100% / 10);
    width: calc(100% / 10);
    background-color: #f6f6f6;
    outline: 1px solid black;
}

.node span {
	display: block;
	text-align: center;
	font-size: 18px;
    font-weight: 600;
}

.button {
	display: block;
	width: 100%;
	text-align: center;
	margin-top: 15px;
	margin-bottom: 15px;
}

.button-active {
	background-color: #67cfe6;
}

.control-panel {
	border: 1px solid black;
	padding: 20px;
	position: absolute;
	top: 100px;
	left: 15px;
}

.wallNode {
	background-color: #4a5253 !important;
}

.finalPathNode {
	background-color: #67cfe6;
}

.startPoint {
	background-color: #c1ffe5 !important;
}

.endPoint {
	background-color: #e39e9e !important;
}

.attribute-f {
	color: red;
}

.attribute-g {
	color: green;
}

.attribute-h {
	color: blue;		
}


.explored {
	outline: 1px solid red;
}